@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-inter: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

